@tailwind base;
@tailwind components;
@tailwind utilities;

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

html, body, #root {
height: 100%
}

body {
  margin: 0;
  font-family: Oswald;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#caf9ee+0,fbeac9+100 */
  background: #caf9ee; /* Old browsers */
  background: -moz-linear-gradient(45deg,#fbeac9 0%, #caf9ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,#fbeac9 0%, #caf9ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,#fbeac9 0%, #caf9ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#caf9ee', endColorstr='#fbeac9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scale-btn {
  transition: all 300ms ease-in-out;
  transform-origin: left top;

}

.scale-btn:hover {
  transform: scaleX(1.05);
  /* transform: translateX(10px) rotate(10deg) translateY(5px); */
}
